* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ffffb6;
}

h1 {
	height: 10vh;
}

#container {
	display: flex;
	flex-wrap: wrap;
	height: 50vh;
	width: 50vh;
	justify-content: center;
	align-items: center;
	border: 5px solid #000;
	border-radius: 10px;
	padding: 1vh;
}

.button-container {
	padding: 2vh;
	padding-bottom: 5vh;
	height: 5vh;
	width: 57vh;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.item {
	display: inline;
}

.black {
	background-color: #000;
}
.white {
	background-color: #fff;
}
.red {
	background-color: #ff0000;
}
.green {
	background-color: #008000;
}
.blue {
	background-color: #0000ff;
}
.yellow {
	background-color: #ffff00;
}
.pink {
	background-color: #ee82ee;
}
.purple {
	background-color: #4b0082;
}
.orange {
	background-color: #ffa500;
}

button {
	background-color: #202020;
	color: #fff;
	padding: 1.5vh;
	font-size: 12px;
	border-radius: 10px;
}

button:hover {
	border-color: #fff;
}

button:active {
	background-color: #0d00ff;
}
